.brand-logo {
  margin-top: 2px;
}

/* Colors */
.club {
  color: darkgreen;
}
.diamond {
  color: orange;
}
.heart {
  color: red;
}
.spade {
  color: darkblue;
}

.hidden {
  display: none;
}
.marginB1 {
  margin-bottom: 10px;
}
.marginB40 {
  margin-bottom: 40px;
}
.marginI20 {
  margin: -20px;
}
.marginR2 {
  margin-right: 5px;
}
.marginT20 {
  margin-top: 20px;
}
.paddingL2 {
  padding-left: 5px;
}
.paddingR2 {
  padding-right: 5px;
}

.rounded {
  border-radius: 6px;
}
.rounded-left-top {
  border-top-left-radius: 6px;
}
.rounded-right-top {
  border-top-right-radius: 6px;
}

/* Bidding box */
.biddingBox {
  display: flex;
  text-align: center;
  border-right: solid 1px black;
}
.bid-functional {
  display: block;
  float: left;
  width: 33.33%;
  height: 2rem;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
}
.bid-inBox {
  height: 2rem;
  width: 20%;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
}
.bid-inBox:hover,
.bid-functional:hover {
  -webkit-filter: brightness(60%);
}
#biddingBoxModal {
  max-height: 50%;
  background: none;
}
#biddingBoxModal .modal-content {
  padding: 0 6px 6px 6px;
  background: none;
}

/* Board */
.biddingBid {
  display: block;
  float: left;
  color: black;
  text-align: center;
  border-right: solid 1px grey;
  border-bottom: solid 1px grey;
}
.biddingHeading {
  display: block;
  float: left;
  color: black;
  border-right: solid 1px grey;
  border-bottom: solid 1px grey;
  border-top: solid 1px grey;
  text-align: center;
}
.openBiddingBox {
  cursor: pointer;
}
[id*="auction"] {
  border-left: solid 1px grey;
}

/* Other */
#addBoardModal {
  max-height: 90%;
}
#chatListCol {
  padding: 0;
}
#chatListMobile {
  margin: 0;
  border-radius: 0;
}
.collection-item {
  cursor: pointer;
}
.fillingBox {
  height: 200px;
}
.myPosition {
  color: green;
  font-weight: bolder;
}
.sidenav li {
  line-height: 10px;
}

@media only screen and (min-width: 992px) {
  .biddingBox {
    width: 50%;
  }
}
